* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  padding: 10px;
  background-color: #394b59;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

.tool-bar {
  display: flex;
  height: 50px;
  width: 100%;
}

.node__menu.chart {
  bottom: 0;
  opacity: 1;
  height: 50% !important;
  transition: all 0.6s ease-in-out;
  z-index: 98;
}
