.train_main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.graph-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.train-side-bar {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 50px;
  left: -20%;
  width: 20%;
  height: 100vh;
  padding: 10px;
  background-color: #394b59;
  transition: all 0.3s ease-in-out;
}

.train-side-bar.active {
  left: 0;
}

.model-container {
  display: flex;
  width: 100%;
  height: 55%;
  margin-bottom: 10px;
}

.layer-container {
  display: flex;
  width: 100%;
  height: 55%;
}

.graph1 {
  margin: 5px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.graph2 {
  margin: 5px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.graph3 {
  margin: 5px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
